
<section class="banner">
    <div class="banner-box">
      <div class="intro-text">
        <div class="intro-text-box">
          <h1>Custom Mobile App
            & Web Development</h1>
          <p>Looking for a reliable mobile app and web development company for your next project? Hire veteran experts from iPraxa and get your website or mobile app developed within your budget and as per your timeline.</p>
        </div>
      </div>
      <img src="assets/images/banner-portfolio.jpg" alt="banner" />
    </div>
  </section>
  